<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Heat Pumps Chatbot</title>
    <script src="{{ url_for('static', filename='script.js') }}", defer="True"></script>
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <h1>Heat Pumps Chatbot</h1>
        </div>
        <div class="chat-log" id="chat-log">
            <!-- La cronologia della chat verrà visualizzata qui -->
        </div>
        <div class="user-input">
            <input type="text" id="user-message" placeholder="Type your message...">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>

</body>
</html>
